*{
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

#header{
  	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	align-items: center;
  	background-color: #fac515;
	top: 0;
	height: 30px;
	width: 100%;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 500;
	color: white;
	text-align: center;
	border-bottom: 4px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	z-index: 9999;
	overflow: hidden;
	}

.imagenprincipal{
	display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
	padding: 300px;
	background-image: url('../assets/herohome.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
	width: 100%;
	overflow: hidden;
}

@media screen and (max-width: 768px){
.imagenprincipal {
    grid-template-columns: repeat(1, 1fr);
    width: fit-content;
    background-attachment: inherit;
	}
}

.imagenclases{
	display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
	padding: 300px;
	background-color: rgba(255, 0, 150, 0.3);
	background: url('../assets/bannerclases.jpg');
	baclground-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 60vh;
	width: 100%;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.imagenclases {
	grid-template-columns: repeat(1, 1fr);
    height: 63vh;
    background-size: cover;
    background-position: bottom;
    padding: 73px 20px;
    background-attachment: inherit;
	}
}

.imagennosotros{
	display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
	padding: 300px;
	background-color: rgba(255, 0, 150, 0.3);
	background: url('../assets/heronosotros.jpg');
	baclground-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
	width: 100%;
	overflow: hidden;
}
@media screen and (max-width: 768px) {
	.imagennosotros {
	grid-template-columns: repeat(1, 1fr);
    height: 80vh;
    background-size: cover;
    background-position: top;
    padding: 53px 20px;
    background-attachment: inherit;
	}
}



.imagenprofes{
	display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
	padding: 300px;
	background: url('../assets/profehero.jpg');
	baclground-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
	width: 100%;
	}

@media screen and (max-width: 768px) {
	.imagenprofes{     
	grid-template-columns: repeat(1, 1fr);
    height: 63vh;
    background-size: cover;
    background-position: bottom;
    padding: 73px 20px;
    background-attachment: inherit;
	}
}


.imagensedes{
	display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
	padding: 300px;
	background-color: rgba(255, 0, 150, 0.3);
	background: url('../assets/herosedes.jpg');
	baclground-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
	width: 100%;
	overflow: hidden;
}
@media screen and (max-width: 768px) {
	.imagensedes {     
	grid-template-columns: repeat(1, 1fr);
    width: 100%
    height: 99vh;
    background-size: auto;
    background-position: top;
    background-attachment: inherit;
    padding: 53px 20px;
	}
}


.box {
display: flex;
flex-flow: column;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content:  center;
width: fit-content;
}

.box:hover {
border: 3px solid #fac515;
border-radius: 10px;
}


.boxhero{
display: flex;
flex-flow: column;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content:  center;
width: 100%;
}

.bannernosotros{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: end;
	background-image: url('../assets/bannernosotros.jpg');
	baclground-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
	width: 100%;
}



@media screen and (max-width: 768px) {
	.bannernosotros {
	grid-template-columns: repeat(1, 1fr);
    height: 51vh;
    background-size: cover;
    background-attachment: inherit;
    background-position: center;
    padding: 20px;
	}
}

.bannernosotros2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: end;
	background-image: url('../assets/profebanner.jpg');
	baclground-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.bannernosotros2 {
	grid-template-columns: repeat(1, 1fr);
    height: 51vh;
    background-size: cover;
    background-attachment: inherit;
    background-position: center;
    padding: 20px;
	}
}


.bannersedes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: end;
	background-image: url('../assets/bannersedes.jpg');
	baclground-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 80vh;
	width: 100%;
}
@media screen and (max-width: 768px) {
	.bannersedes {
	grid-template-columns: repeat(1, 1fr);
	height: 51vh;
    background-size: cover;
    background-attachment: inherit;
    background-position: center;
    padding: 20px;
	}
}


.textobanner{
	font-family: 'Raleway';
	color: white;
	font-size: 50px;
	font-weight: 700;
	color: white;
	}

.container {
	display: grid;
    grid-gap: 1rem;
  	background-image: linear-gradient(45deg, #211f20, #343132);
	padding: 70px;
	width: 100%;
	}

@media screen and (max-width: 768px) {
	.container{
	grid-template-columns: repeat(1, 1fr);
	width: fit-content;
		}
	}

.container2 {
	display: grid;
	grid-gap: 1rem;
	background-image: url('../assets/fondografito.jpg');
	baclground-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 70px;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.container2 {
	grid-template-columns: repeat(1, 1fr);
	background-size: cover;
	width: fit-content;
	}
}

.container3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-image: linear-gradient(45deg, #fac515, #ffeb3b);
    height: 40vh;
	padding: 70px;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.container3 {
	grid-template-columns: repeat(1, 1fr);
	background-size: cover;
    padding: 20px;
    width: fit-content;
	}
}


.container4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  	background-color: #211f20;
	padding: 70px;
	width: 100%;
	}

@media screen and (max-width: 768px) {
	.container4{
	grid-template-columns: repeat(1, 1fr);
	width: fit-content;
		}
	}


.columnas1 {
display: grid;
grid-template-columns: repeat(1, 1fr);

}

@media screen and (max-width: 768px) {
	.columnas1{
	grid-template-columns: repeat(1, 1fr);
	width: fit-content;
		}
	}

.columnas2 {
display: grid;
grid-template-columns: repeat(2, 1fr);

}

@media screen and (max-width: 768px) {
	.columnas2{
	grid-template-columns: repeat(1, 1fr);
	width: 100vh;
		}
	}

.columnas3 {
display: grid;
grid-template-columns: repeat(3, 1fr);

}

@media screen and (max-width: 768px) {
	.columnas3{
	grid-template-columns: repeat(1, 1fr);
	width: 100vh;
		}
	}

.columnas4 {
display: grid;
grid-template-columns: repeat(4, 1fr);

}

@media screen and (max-width: 768px) {
	.columnas4{
	grid-template-columns: repeat(1, 1fr);
	width: width: 100vh;
		}
	}


.h1 {
	font-family: 'Raleway';
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	color: #fac515;
	}

.h2 {
	font-family: 'Raleway';
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	color: #fac515;
	padding-top: 20px;
}

.h3 {
	font-family: 'Raleway';
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: #fac515;
	padding-top: 20px;
}


.parrafo {
	font-family: 'Raleway';
	color: white;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

.boton {
    font-family: 'Raleway';
    background-color: #fac515;
    text-align: center;
    height: 20px;
    width: 200px;
    color: #211f20;
    font-size: 22px;
    font-weight: 500;
    padding: 20px;
    margin: 10px;
	animation-transition: 600ms; 
	animation-delay: 600ms;  
   }

  .boton:hover {
   
   background-color: #ffeb3b;
   transform: scale(1.1);

    
       }

.botonflotante {
	font-family: 'Raleway';
    color: #211F20;
    background-color: #fac515;
    text-align: center;
    height: 20px;
    width: 200px;
    font-size: 22px;
    font-weight: 300;
    padding: 20px;
    position: fixed;
    bottom: 80px;
    z-index: 9999;
}

.imagenactividades {
width: fit-content;
border: 3px solid #fac515;
border-radius: 10px;
}

#footer {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
	background-color: #fac515;
	height: 130px;
	width: 100%;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 500;
	color: white;
	text-align: center;
	border-top: 4px solid yellow;
	padding-top: 10px;
	padding-bottom: 10px;
	}

